/packages
/artifacts
/build
/JavaApp/.gradle
/JavaApp/build
/JavaApp/local_out
/Natives/AngelAuraAmethyst
/Natives/build
.DS_Store
xcshareddata/
xcuserdata/
project.xcworkspace/
/depends
/Natives/config.h
entitlements.codesign.xml
/Compare
/.rule/
/sample/

temp-mirror-repo
.claude
graphify-out
task.txt
diagn.txt
PROJECT_DOCUMENTATION.md
SDL3-INTEGRATION-ANALYSIS.md
SDL-ios

lwjgl-lib